.footer {
  margin-top: auto;
  background: linear-gradient(0.25turn, #FF8c00, white, green);
  color: black;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.footer_link {
  grid-column: span 12;
  color: inherit;
  text-align: center;
  text-decoration: none;
  padding: 8px 8px;
  width: 60%;
  justify-self: center;
}

.footer_link:hover,
.footer_link:focus-within {
  border: 2px solid black;
}

.footer_copyright {
  grid-column: span 12;
  text-align: center;
  padding: 8px 8px;
}

@media screen and (min-width: 48rem) {
  .footer_link {
    grid-column: span 4;
  }
}
